run = ["python", "main_replit.py"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["file-rename"]

[deployment]
run = ["python", "main_replit.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
